*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Editors
.idea
.vscode
.vs/

/Web/Properties

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Compiled static scripts & stylesheets
Web/wwwroot/styles/css
Web/wwwroot/bundle/
Web/wwwroot/storage/
Web/node_modules

/certs
