@using Web.Utils.Bundle
@model Exception

@{
	ViewBag.Title = "Timeout: 408";
	Layout = "_EmptyLayout";
}

@section Styles
{
	<link rel="stylesheet" href="@Bundle.GetAssetName("exception", "css")" asp-append-version="true"/>
}

<div class="exception" id="timeout">
	<aside>
		<a href="https://mvsm.com/project/air-max-day-18" target="_blank">
			<img src="/storage/assets/exception/408.png" alt/>
		</a>
	</aside>
	<main>
		<h1 class="error-code">408</h1>
		<div class="error-content">
			<p>
				Microservices have taken too much time to respond
			</p>
		</div>
		@if (Model != null)
		{
			<button class="button expandable">
				<span>Show details</span>
			</button>
		}
		<div class="controls">
			<button class="button" id="try-again">
				<span>Try again</span>
			</button>
			<button class="button">
				<a href="@ViewBag.FromUrl">Go back</a>
			</button>
		</div>
		@{ await Html.RenderPartialAsync("_ExceptionDetailsPartial", Model); }
	</main>
</div>

@section Scripts
{

	<script src="@Bundle.GetAssetName("exception", "js")" asp-append-version="true"></script>
}