@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>@ViewBag.Title | Kicksware </title>
	<link rel="icon" type="image/x-icon" href="https://kicksware.com/favicon.ico">
	<link rel="stylesheet" href="~/dist/layout.css" asp-append-version="true"/>
	@await RenderSectionAsync("Styles", false)
</head>
<body class="@($"theme-{ViewBag.Theme}")">
<div class="super_container">
	@RenderBody()
</div>
<script src="~/dist/layout.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>

