@using Web.Utils.Helpers

<div class="under-development">
	<h2>This function is still under construction</h2>
	@Html.VectorIconRender("under-development.svg")
	<p>Stay tuned for upcoming updates:</p>
	<ul>
		<li>
			<p>
				By subscribing to <a href="http://kicksware.com/#newsletter_form"><span class="kicksware">Kicksware</span> newsletter</a> to receive emails about the newest features and technologies.
			</p>
		</li>
		<li>
			<p>
				By visiting <a href="https://github.com/timoth-y/kicksware-platform"><span class="kicksware">Kicksware</span> project GitHub repository</a>, where you can contribute as well
			</p>
		</li>
	</ul>
	<br/>
	<p>
		You can also visit <a asp-action="About" asp-controller="About">About page</a> to find out more about this project.
	</p>
</div>