// COLORS //
@import "../properties/colors";

// MIXINS
@import "../mixins/mixins";

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1440px) {

}

@media only screen and (max-width: 1380px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 1100px) {
	.hero-parallax, .title-section {
		picture {
			height: 100%;
		}
	}
}

@media only screen and (max-width: 1024px) {
	section.about-section {
		&.info-section {
			.section-content {
				width: 100%;
				margin-top: 75%;

				.hand-wrapper {
					margin-bottom: 80vh;

					img.hand-asset {
						max-width: 90vw;
					}
				}
			}

			img.window-asset,
			.asset-wrapper img.window-asset {
				max-width: 90vw;
			}

			.asset-wrapper #creator-window {
				top: 110vh;
				left: -25%;
				max-width: 50vw;
				transition: top 600ms ease, right 600ms ease;

				&.active {
					top: 50px;
					right: 20px;
					left: unset;
					bottom: unset;
				}
			}
		}

		&.contact-section {
			align-items: center;
			justify-content: flex-start;

			figure {
				&.circle, &.rectangle {
					display: none;
				}

				&.square.mobile {
					display: block;
				}
			}

			.section-caption {
				h1 {
					margin-top: 15px;
					font-size: 40px;
				}

				hr {
					width: 100% !important;
					height: 3px !important;
				}
			}

			.contact-info {
				flex-direction: column;
				width: 100%;

				h3 {
					font-size: 18px;
				}
			}
		}
	}
}

@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 959px) {

}

@media only screen and (max-width: 880px) {

}

@media only screen and (max-width: 768px) {
	.with-mobile({
		.hero-parallax .hero-content {
			.sean-go {
				bottom: 30% !important;

				svg {
					width: 75px !important;
					height: 75px !important;
				}
			}
		}
	});

	section.about-section.logo-section {
		.logo-wrapper {
			margin-top: 32vh;
			.kicksware-logo {
				width: 300px;
				height: 300px;
			}

			.logo-title {
				margin-top: -40px;
				font-size: 40px;
			}

			a.credit-logo {
				svg {
					max-width: 80px !important;
					max-height: 80px !important;
					min-width: 60px;
					min-height: 60px;
				}

				&#stadium-logo {
					left: 18%;
					bottom: 35%;

					svg {
						max-width: 100px !important;
						max-height: 100px !important;
					}
				}

				&#goat-logo {
					left: 40%;
					bottom: 30%;

					svg {
						max-width: 75px !important;
						max-height: 75px !important;
					}
				}

				&#glusterfs-logo {
					left: 40%;
				}

				&#jetbrains-logo {
					bottom: 80%;
					left: 43%;
				}

				&#asp-logo {
					bottom: 80%;
					left: 18%;
				}

				&#traefik-logo{
					bottom: 35%;
				}

				&#k8s-logo {
					bottom: 80%;
					left: 55%;
				}

				&#helm-logo {
					bottom: 80%;
					left: 0;
				}

				&#redis-logo, &#elastic-logo{
					bottom: 35%;
				}

				&#kibana-logo {
					bottom: 70%;
				}

				&#do-logo {
					bottom: 65%;
				}

				&.sean-go {
					bottom: 65%;
					left: 35%;
					max-width: 80px!important;
					max-height: 80px!important;
				}

				&#github-logo {
					bottom: 17%;
					left: 44%;
				}

				&#gitlab-logo {
					bottom: 22%;
					left: 0;
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 575px) {
	.with-mobile({
		.hero-parallax .hero-content {
			.sean-go {
				bottom: 30% !important;

				svg {
					width: 75px !important;
					height: 75px !important;
				}
			}
		}
	});
	section.about-section.logo-section {
		.logo-wrapper {
			margin-top: 36vh;
			.kicksware-logo {
				width: 50vw;
				height: 50vw;
			}

			.logo-title {
				margin-top: -30px;
				font-size: 30px;
			}

			a.credit-logo {
				svg {
					max-width: 60px !important;
					max-height: 60px !important;
					min-width: 50px;
					min-height: 50px;
				}

				&#stadium-logo {
					left: 18%;
					bottom: 35%;
					svg {
						max-width: 80px !important;
						max-height: 80px !important;
					}
				}

				&#goat-logo {
					left: 40%;
					bottom: 30%;
				}

				&#glusterfs-logo {
					left: 40%;
				}

				&#jetbrains-logo {
					bottom: 80%;
					left: 43%;
				}

				&#asp-logo {
					bottom: 80%;
					left: 18%;
				}

				&#traefik-logo{
					bottom: 35%;
				}

				&#k8s-logo {
					bottom: 80%;
					left: 55%;
				}

				&#helm-logo {
					bottom: 80%;
					left: 0;
				}

				&#redis-logo, &#elastic-logo{
					bottom: 35%;
				}

				&#kibana-logo {
					bottom: 70%;
				}

				&#do-logo {
					bottom: 65%;
				}

				&.sean-go {
					bottom: 65%;
					left: 35%;
					max-width: 80px!important;
					max-height: 80px!important;
				}

				&#github-logo {
					bottom: 17%;
					left: 44%;
				}

				&#gitlab-logo {
					bottom: 22%;
					left: 0;
				}
			}
		}

	}
}

@media only screen and (max-width: 539px) {

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 479px) {

}

@media only screen and (max-width: 320px) {
	section.about-section.contact-section {
		align-items: center;
		justify-content: flex-start;

		.section-caption {
			h1 {
				margin-top: 15px;
				font-size: 28px;
			}

			hr {
				width: 100% !important;
				height: 3px !important;
			}
		}

		.contact-info .contact-col {
			flex-direction: column;
			width: 100%;

			h3 {
				font-size: 15px;
			}

			a {
				font-size: 18px;
			}

			.social-links {
				grid-gap: 30px;

				a {
					height: 30px;
					width: 30px;
				}
			}
		}
	}

}